/* @override http://matsuoka.mac/~hiromitsu/yuhodo/stylesheets/visual/plan.css */

.item {
	background-color: #fff;
	overflow: hidden;
	border-bottom: 1px solid #dedede;
}

.item .title {
	font-size: 1.3em;
	font-weight: bold;
}

.item .gnr {
	color: #787878;
}

.item-over {
	background-color: #dddddd;
}

.item-selected {
	background-color: #D6F8C9;
}