/* @override http://matsuoka.mac/~hiromitsu/yuhodo/stylesheets/visual/plan.css */

.item {
	background-color: #fff;
	overflow: hidden;
	border-bottom: 1px dashed #dedede;
}

.item .title {
	font-size: 1.3em;
	font-weight: bold;
}

.item .gnr {
	color: #787878;
}

.item-over {
	background-color: #FFF4ED;
}

.item-selected {
	background-color: #FFECE0;
}